body {
  margin: 0px;
}

.main {
  background-image: url('./images/background.png');
  background-attachment: fixed;
  background-size: 100%;
  color: antiquewhite;
  margin: 0px;
  border: 0px;
}

header.title {
  font-size: 50px;
  margin-bottom: 12px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #47b392;
}

.planets-container {
  display: flex;
}

.solar-system {
  margin-bottom: 15px;
}

.planet-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  background-color: #0e221c6c;
  border: 3px solid #55dfb5;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
}

.planet-card:hover {
  color: darkgreen;
  background-color: #0e2210c5;
  border: 3px dotted #2a6956;
}

.planet-image {
  width: 100%;
}

.mission-card {
  display: flex;
  flex-direction: column;
  width: 28%;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: #0e221c6c;
  border: 3px solid #55dfb5;
  border-radius: 10px;
  transition: transform 0.4s;
}

.mission-card:hover {
  transform: scale(1.2);
}

.mission-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin-bottom: 3px;
}

.mission-card-title {
  font-size: 20px;
  border-bottom: 3px solid #55dfb5;
  margin-bottom: 3px;
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
